html body .site{
  &__{
    &logo{
      &--navbar{
        position:absolute;
        display:block;
        font-family:$heading-font;
        font-size: 80px;
        font-weight:800;
        color:$default-text-color !important;
        max-width:50px;
        line-height:0.85em;
        padding-top:20px;
        text-decoration: none;

        @include hover{
          text-decoration: none;
          color:$default-text-color !important;
        }

      }
    }
  }
}
