// https://iknowthatsign.com/post/72458831031/getting-the-most-out-of-your-web-type
%pretty-font {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: subpixel-antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
